* {
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box; }

.accordian {
  position: relative;
  top: 10%;
  left: 50%;
  margin-left: -250px;
  width: 475px;
  padding: 20px; }

.para {
  overflow: hidden;
  font-size: 15px;
  max-height: 450px;
  color: darkgrey;
  transition: max-height 1.0s ease-in-out;
  border-left: 0.2px solid #00C6D9;
  border-right: 0.2px solid #00C6D9;
  border-bottom: 0.2px solid #8EDDE3; }

.hidePara {
  max-height: 0px; }

.title {
  letter-spacing: 1px;
  background: #00C6e1;
  margin: 0px;
  padding-left: 22px;
  color: white;
  font-size: 21px;
  font-weight: 100;
  padding-top: 8px;
  padding-bottom: 8px; }

.paraG {
  padding: 15px;
  margin: 0px; }

h1:hover {
  background-color: #00DBf1;
  border-bottom: solid thing #00DBE9; }
