* {
  font-family: 'Cormorant Garamond', serif;
  box-sizing: border-box; }

.accordian {
  position: relative;
  top: 10%;
  left: 50%;
  margin-left: -175px;
  width: 350px;
  padding: 20px; }

.para {
  border-color: black;
  border-style: solid;
  border-width: 0.5px;
  overflow: hidden; }

.hidePara {
  height: 0px; }

.title {
  background: #00C7D5;
  border-bottom: 1px solid green;
  border-top: 1px solid green;
  margin: 0px;
  color: white;
  font-size: 16px;
  font-weight: 200;
  padding: 7px; }
